<div class="row">

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ restaurant.name }}</h1>
        <p>[{{ restaurant.Category.name }}]</p>
      </div>

      <div class="col-md-12">
        <li>評論數：{{commentLength}}</li>
        <li>瀏覽次數：</li>
        <li>收藏數：</li>
      </div>
    </div>
  </div>

</div>

<hr>
<a href="javascript:history.back()" class="m-auto btn">回上一頁</a>